<!DOCTYPE html>
<html lang = "en">  
<head>   
	<link rel = "stylesheet" type = "text/css" href = "static/rentalproperty.css">
	<link rel="icon" href="static/images/favicon.png" sizes="16x16 32x32" type="image/png">
	<meta http-equiv="Content-type" content="text/html;charset=utf-8" />
	<title>Rental Property</title>    	
</head>  
<body>
	<header>
		<img src = "static/images/riverside-rentals-logo.png" alt = "Rental Property Logo"
			 class = "header-img"/>
	</header>

	<nav>
		<div class = "nav-container">
			<div class = "nav-element"><a href = "/">Home</a></div>
			<div class = "nav-element"><a href = "rental">Rental</a></div>
			<div class = "nav-element"><a href = "reviews">Reviews</a></div>
			<div class = "nav-element"><a href = "admin">Admin</a></div>
			</div>
	</nav>
	<section>
		<p>
			That page does not exist. Please try again. If you are not expecting this, contact the system administrator: 
			<a href = "mailto:admin@riversiderentals.com?Subject=Login%20Issues">admin@riversiderentals.com</a> 
		</p>
	</section>
	<footer>
		<h3>Contact</h3>
		<p>1 Fake Street, Norwich NR14 567 || 01234 567 890 || <u>
		<a href = "mailto:inquiries@riversiderentals.com?Subject=Website%20Inquiry" 
			target = "_top">inquiries@riversiderentals.com</a></u></p>
	</footer>
</body>
</html>